.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.modal-open {
  position: relative;
  z-index: 2;
}

.modal-container.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
  position: relative;
  transform: translateY(-50%);
  top: 0;
  transition: top 0.15s ease-in-out;
  z-index: 3;
}

.modal-container.open .modal-content {
  top: 50%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}